.spons-content{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:200px;
    max-width: 180px;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.spons-content-big{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height:250px;
    max-width: 270px;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 15px;
}

.spons-content:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.spons-content img{
    width: 150px;
    vertical-align: middle;
}
.spons-content-big img{
    width: 225px;
    vertical-align: middle;
}
#heroku{
    width: 100px;
}