.video-container{
    position: relative;
    width: 100%;
    height: 800px;
}

video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.video-text {
    position: relative;
    z-index: 2 ;
    color: white;
    height: inherit;
    width: inherit;
    background: rgba(0,0,0,0.4);

}